<div id="mySidenav" class="sidenav">
    <h1>Q_Quit</h1>
    <hr>
    <ul class="primary-nav-links">
        <li>
            <a class="primary" href="#">
                <i class="material-icons navigation-icon">dashboard</i>
                Dashboard
            </a>
        </li>
        <li>
            <a class="primary" href="#">
                <i class="material-icons navigation-icon">bar_chart</i>
                Reports
            </a>
        </li>
        <li>
            <a class="primary active" href="#">
                <i class="material-icons navigation-icon">description</i>
                Records
            </a>
            <ul class="secondary-nav-links">
                <li>
                    <a class="secondary" href="#">
                        Employees
                    </a>
                </li>
                <li>
                    <a class="secondary active" href="#">

                        Seperation applications
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
