<div>
    <h2 id="page-heading">
        <span>Separation Application Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-separation-application-log" [routerLink]="['/separation-application-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Separation Application Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="separationApplicationLogs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Edit Type</span></th>
            <th><span>Date Edited</span></th>
            <th><span>Employee</span></th>
            <th><span>Separation Application</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let separationApplicationLog of separationApplicationLogs ;trackBy: trackId">
                <td><a [routerLink]="['/separation-application-log', separationApplicationLog.id, 'view' ]">{{separationApplicationLog.id}}</a></td>
                <td>{{separationApplicationLog.editType}}</td>
                <td>{{separationApplicationLog.dateEdited | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="separationApplicationLog.employee">
                        <a [routerLink]="['../employee', separationApplicationLog.employee?.id, 'view' ]" >{{separationApplicationLog.employee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="separationApplicationLog.separationApplication">
                        <a [routerLink]="['../separation-application', separationApplicationLog.separationApplication?.id, 'view' ]" >{{separationApplicationLog.separationApplication?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/separation-application-log', separationApplicationLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/separation-application-log', separationApplicationLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'separation-application-log/'+ separationApplicationLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
