<div>
    <form (ngSubmit)="save()" [formGroup]="appForm">
        <div class="formField">
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let item of statusOptions | keys" [value]="item.value">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <jhi-employee-field [employeeFilterParameters]="{filter: 'is-hr'}" #employeePicker1 formControlName="employee"></jhi-employee-field>
            <button mat-icon-button matSuffix type="button" (click)="employeePicker1.openEmployeeSelectorDialog()">
                <mat-icon style="color: #6c757d">edit</mat-icon>
            </button>
        </mat-form-field>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Date of Leave</mat-label>
                <input placeholder="Completely disabled" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="formField">
            <mat-form-field appearance="outline">
                <mat-label>Date Approved</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="dateApproved">
                <mat-datepicker-toggle matSuffix [for]="picker3 "></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>
        <ng-container formGroupName="fr">
            <div class="formField">
                <mat-form-field appearance="outline">
                    <mat-label>Functional Representative</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let i of functionRepOptions" [value]="i.id">
                            {{i.employee.user.firstName}} {{i.employee.user.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container formGroupName="hr">
            <div class="formField">
                <mat-form-field appearance="outline">
                    <mat-label>Human Resource Representative</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let i of hrRepOptions" [value]="i.id">
                            {{i.employee.user.firstName}} {{i.employee.user.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container>
            <jhi-action-list [saId]="appForm.get('id').value"></jhi-action-list>
        </ng-container>
        <div>
            <button mat-raised-button type="submit" [disabled]="isSaving">
                Save
            </button>
        </div>
    </form>
</div>