<div *ngIf="separationApplication"> 
    <h1>Employee: {{separationApplication.employee?.user?.firstName}} {{separationApplication.employee?.user?.lastName}}</h1>
    <h3>HR: {{separationApplication.hr?.employee?.user?.firstName}} {{separationApplication.hr?.employee?.user?.lastName}}</h3>
    <h3>Status: {{separationApplication.status}}</h3>
    <br/>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
    <br/>
    <form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="flex-container">
        <div>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Date Submitted</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="boop">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <div [hidden]="!(editForm.controls.dateSumbitted?.dirty && editForm.controls.dateSumbitted?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.dateSumbitted?.errors?.required">
                    This field is required.
                </small>
            </div>
            <br/>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Expected Date of Leave</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Date of Leave">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <br/>
            <mat-form-field class="form" appearance="outline">
                <mat-label>Date Approved</mat-label>
                <input matInput [matDatepicker]="picker3" placeholder="Date Approved">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field class ="form" appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Location">
                    <mat-option>
                        Chicaboop
                    </mat-option>
                    <mat-option>
                        Sesaboop
                    </mat-option>
                    <mat-option>
                        Boop city
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <div>
                <h6>Function Representatives</h6>
                <mat-list>
                    <mat-list-item>
                        Function booper
                    </mat-list-item>
                    <mat-list-item>
                        Function schnooper
                    </mat-list-item>
                    <mat-list-item>
                        Bob
                    </mat-list-item>
                </mat-list>
            </div>
            <br/>
            <div>
                <h6>To be completed</h6>
                <mat-selection-list #actions>
                    <mat-list-option>
                        Take the enchilada from the fridge
                    </mat-list-option>
                    <mat-list-option>
                        Enjoy the enchilada
                    </mat-list-option>
                    <mat-list-option>
                        Run from Steve
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Actions completed: {{actions.selectedOptions.selected.length}}
                </p>
            </div>
        </div>
    </div>
    </form>
    <br/>
    <div>
        <button mat-raised-button class="save" type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving">
            Save
        </button>
    </div>
    <br/>
</div>   
