<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards; let i = index">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-title">
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="i === 0">
            {{numPending}}
          </div>
          <div *ngIf="i === 1">
            {{numClosed}}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>