<div>
    <h2 id="page-heading">
        <span>Separation Applications</span>
        <button *jhiHasAnyAuthority="'ROLE_HR'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-separation-application"
            [routerLink]="['/separation-application/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Create new Separation Application
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="separationApplications">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>Status</span>
                    </th>
                    <th>
                        <span>Date Of Leave</span>
                    </th>
                    <th>
                        <span>Date Sumbitted</span>
                    </th>
                    <th>
                        <span>Date Completed</span>
                    </th>
                    <th>
                        <span>Date Approved</span>
                    </th>
                    <th>
                        <span>Employee</span>
                    </th>
                    <th>
                        <span>Hr</span>
                    </th>
                    <th>
                        <span>Fr</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let separationApplication of separationApplications ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['/separation-application', separationApplication.id, 'view' ]">{{separationApplication.id}}</a>
                    </td>
                    <td>{{separationApplication.status}}</td>
                    <td>{{separationApplication.dateOfLeave | date:'mediumDate'}}</td>
                    <td>{{separationApplication.dateSumbitted | date:'mediumDate'}}</td>
                    <td>{{separationApplication.dateCompleted | date:'mediumDate'}}</td>
                    <td>{{separationApplication.dateApproved | date:'mediumDate'}}</td>
                    <td>
                        <div *ngIf="separationApplication.employee">
                            <a [routerLink]="['../employee', separationApplication.employee?.id, 'view' ]">{{separationApplication.employee?.user?.firstName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="separationApplication.hr">
                            <a [routerLink]="['../hr-reps', separationApplication.hr?.id, 'view' ]">{{separationApplication.hr?.employee.user?.firstName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="separationApplication.fr">
                            <a [routerLink]="['../function-reps', separationApplication.fr?.id, 'view' ]">{{separationApplication.fr?.employee.user?.firstName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/separation-application', separationApplication.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>   
                            <button type="submit" [routerLink]="['/actions-sa', separationApplication.id ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">Action</span>
                            </button>
                            <button type="submit" [routerLink]="['/separation-application', separationApplication.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'separation-application/'+ separationApplication.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>