<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-separation-application-heading">Create or edit a Separation Application</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!separationApplication.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="separationApplication.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="separationApplication.status" id="field_status" required>
                        <option value="PENDING">Pending</option>
                        <option value="UNDER_REVIEW_FR">Under Function Review</option>
                        <option value="EMPLOYEE_TASKS_IN_PROGRESS">Employee Tasks in Progress</option>
                        <option value="EMPLOYEE_TASKS_COMPLETED">Employee Tasks Completed</option>
                        <option value="CLOSED">Closed</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.status?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfLeave">Date Of Leave</label>
                    <div class="input-group">
                        <input id="field_dateOfLeave" type="text" class="form-control" name="dateOfLeave" ngbDatepicker #dateOfLeaveDp="ngbDatepicker"
                            [(ngModel)]="separationApplication.dateOfLeave" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfLeaveDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateSumbitted">Date Sumbitted</label>
                    <div class="input-group">
                        <input id="field_dateSumbitted" type="text" class="form-control" name="dateSumbitted" ngbDatepicker #dateSumbittedDp="ngbDatepicker"
                            [(ngModel)]="separationApplication.dateSumbitted" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateSumbittedDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateSumbitted?.dirty && editForm.controls.dateSumbitted?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.dateSumbitted?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateCompleted">Date Completed</label>
                    <div class="input-group">
                        <input id="field_dateCompleted" type="text" class="form-control" name="dateCompleted" ngbDatepicker #dateCompletedDp="ngbDatepicker"
                            [(ngModel)]="separationApplication.dateCompleted" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCompletedDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateApproved">Date Approved</label>
                    <div class="input-group">
                        <input id="field_dateApproved" type="text" class="form-control" name="dateApproved" ngbDatepicker #dateApprovedDp="ngbDatepicker"
                            [(ngModel)]="separationApplication.dateApproved" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateApprovedDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="separationApplication.employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === separationApplication.employee?.id ? separationApplication.employee : employeeOption"
                            *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.user?.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hr">Hr</label>
                    <select class="form-control" id="field_hr" name="hr" [(ngModel)]="separationApplication.hr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hrRepsOption.id === separationApplication.hr?.id ? separationApplication.hr : hrRepsOption" *ngFor="let hrRepsOption of hrreps; trackBy: trackHrRepsById">{{hrRepsOption.employee.user?.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fr">Fr</label>
                    <select class="form-control" id="field_fr" name="fr" [(ngModel)]="separationApplication.fr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="functionRepsOption.id === separationApplication.fr?.id ? separationApplication.fr : functionRepsOption"
                            *ngFor="let functionRepsOption of functionreps; trackBy: trackFunctionRepsById">{{functionRepsOption.employee.user?.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
                    <span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>