<div>
    <h2 id="page-heading">
        <span>Hr Reps</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hr-reps"
            [routerLink]="['/hr-reps/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Create new Hr Reps
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hrReps">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>Employee</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hrReps of hrReps ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['/hr-reps', hrReps.id, 'view' ]">{{hrReps.id}}</a>
                    </td>
                    <td>
                        <div *ngIf="hrReps.employee">
                            <a [routerLink]="['../employee', hrReps.employee?.user?.firstName, 'view' ]">{{hrReps.employee?.user?.firstName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/hr-reps', hrReps.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/hr-reps', hrReps.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'hr-reps/'+ hrReps.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>