<h1>Here is a list of SA:</h1>
<mat-form-field>
    <mat-select id="list-filter" placeholder="Filter">
        <mat-option value="all" (click)="filterAll()">All</mat-option>
        <mat-option value="pending" (click)="filterPending()">Pending</mat-option>
        <mat-option value="closed" (click)="filterClosed()">Closed</mat-option>
    </mat-select>
</mat-form-field>
<ul>
    <li style="list-style-type: none;" *ngFor="let app of applications ;trackBy: trackId">
        <mat-card>
            <div class="flex-container">
                <div>
                    <mat-card-title>Name: {{app.employee?.user?.firstName}} {{app.employee?.user?.lastName}}</mat-card-title>
                    <mat-card-subtitle>
                        HR: {{app.hr?.employee?.user?.firstName}}
                        <br/> FR: {{app.fr?.employee?.user?.firstName}}
                        <br/> Location: {{app.employee?.location?.city}}
                        <li *ngFor="let action of app.actions">
                        <div>
                            <p>action.task</p>
                            <p>action.isCompleted</p>
                            <p>action.dateCompleted</p>
                        </div>
                        </li>
                    </mat-card-subtitle>
                </div>
                <div style="justify-content: center">
                    <mat-progress-spinner class="status-progress" [mode]="mode" [value]="value"></mat-progress-spinner><br/>
                    <mat-card-subtitle>Status: {{app.status}}</mat-card-subtitle>
                    <a [routerLink]="['/Q_Q/record/separationApplicationForm', app.id, 'view' ]">
                        <button mat-raised-button>
                            View
                        </button>
                    </a>
                </div>
            </div>
        </mat-card>
        <br/>
    </li>
</ul>
