<div>
    <h2 id="page-heading">
        <span>Separtation Application Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-separtation-application-log" [routerLink]="['/separtation-application-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Separtation Application Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="separtationApplicationLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateEdited"><span>Date Edited</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="editType"><span>Edit Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="editId"><span>Edit Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="separationApplication.id"><span>Separation Application</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employee.id"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let separtationApplicationLog of separtationApplicationLogs ;trackBy: trackId">
                <td><a [routerLink]="['/separtation-application-log', separtationApplicationLog.id, 'view' ]">{{separtationApplicationLog.id}}</a></td>
                <td>{{separtationApplicationLog.dateEdited | date:'mediumDate'}}</td>
                <td>{{separtationApplicationLog.editType}}</td>
                <td>{{separtationApplicationLog.editId}}</td>
                <td>
                    <div *ngIf="separtationApplicationLog.separationApplication">
                        <a [routerLink]="['../separation-application', separtationApplicationLog.separationApplication?.id, 'view' ]" >{{separtationApplicationLog.separationApplication?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="separtationApplicationLog.employee">
                        <a [routerLink]="['../employee', separtationApplicationLog.employee?.id, 'view' ]" >{{separtationApplicationLog.employee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/separtation-application-log', separtationApplicationLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/separtation-application-log', separtationApplicationLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'separtation-application-log/'+ separtationApplicationLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="separtationApplicationLogs && separtationApplicationLogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
