<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="separtationApplicationLog">
            <h2><span>Separtation Application Log</span> {{separtationApplicationLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Edited</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateEdited}}</span>
                </dd>
                <dt><span>Edit Type</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.editType}}</span>
                </dd>
                <dt><span>Edit Id</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.editId}}</span>
                </dd>
                <dt><span>Separation Application</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.separationApplication">
                        <a [routerLink]="['/separation-application', separtationApplicationLog.separationApplication?.id, 'view']">{{separtationApplicationLog.separationApplication?.id}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.employee">
                        <a [routerLink]="['/employee', separtationApplicationLog.employee?.id, 'view']">{{separtationApplicationLog.employee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/separtation-application-log', separtationApplicationLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
