<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="separtationApplicationLog">
            <h2><span>Separtation Application Log</span> {{separtationApplicationLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.status}}</span>
                </dd>
                <dt><span>Date Approved</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateApproved}}</span>
                </dd>
                <dt><span>Date Submitted</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateSubmitted}}</span>
                </dd>
                <dt><span>Date Completed</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateCompleted}}</span>
                </dd>
                <dt><span>Date Of Leave</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateOfLeave}}</span>
                </dd>
                <dt><span>Action Added</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.actionAdded}}</span>
                </dd>
                <dt><span>Date Edited</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.dateEdited}}</span>
                </dd>
                <dt><span>Edit Type</span></dt>
                <dd>
                    <span>{{separtationApplicationLog.editType}}</span>
                </dd>
                <dt><span>Editor</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.editor">
                        <a [routerLink]="['/employee', separtationApplicationLog.editor?.id, 'view']">{{separtationApplicationLog.editor?.id}}</a>
                    </div>
                </dd>
                <dt><span>Action</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.action">
                        <a [routerLink]="['/action', separtationApplicationLog.action?.id, 'view']">{{separtationApplicationLog.action?.id}}</a>
                    </div>
                </dd>
                <dt><span>Hr Reps</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.hrReps">
                        <a [routerLink]="['/hr-reps', separtationApplicationLog.hrReps?.id, 'view']">{{separtationApplicationLog.hrReps?.id}}</a>
                    </div>
                </dd>
                <dt><span>Function Reps</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.functionReps">
                        <a [routerLink]="['/function-reps', separtationApplicationLog.functionReps?.id, 'view']">{{separtationApplicationLog.functionReps?.id}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.employee">
                        <a [routerLink]="['/employee', separtationApplicationLog.employee?.id, 'view']">{{separtationApplicationLog.employee?.id}}</a>
                    </div>
                </dd>
                <dt><span>Separation Application</span></dt>
                <dd>
                    <div *ngIf="separtationApplicationLog.separationApplication">
                        <a [routerLink]="['/separation-application', separtationApplicationLog.separationApplication?.id, 'view']">{{separtationApplicationLog.separationApplication?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/separtation-application-log', separtationApplicationLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
