#mainWrapper {
    margin-top: 40px;
    padding: 16px;
    transition: 0.5s;
    background-color: rgb(154, 160, 167) !important;
}

#mainContentCard{
    max-width: 950px;
    height: 2000px;
    transition: 0.5s;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 16px;
}
